 /* important */
 
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Work+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

 *{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* header */
.header-list ul li{
    padding-left: 60px;
    list-style: none;

}
.header-list ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
/* 2nd */
.header-2nd{
    background-image: url(images/Rectangle\ 4.png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 550px;
    margin-top: 60px;
    padding-top: 90px;
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 90px;
} 

.header2nd{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.header2nd h1{
    font-size: 70px;
    font-weight: bold;
}
.pert-2{
    text-align: center;
}
.search-bar{
    width: 350px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    margin-right: 30px;
    
}
.part-2 form .btn{
    width: 150px;
    height: 50px;
}

/* main */
section{
    margin-bottom: 100px;
}


/* section-1*/
section .list-1{
    text-align: center;

}
section h1{
    font-size: 70px;
    font-weight: bold;
}
.card{
    width: auto;
    height: 500px;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 20px;
    
}
.card img{
    width: 100px;
    height: 80px;
    margin: auto;
}
.card a img{
    width: 70px;
    height:80px;
}

/* section-2 */
section div .client-img{
    width: 450px;
    height: 440px;
    border-radius: 50%;
}